<div class="container mt-5">
    <h2>Add Product</h2>
    <form (ngSubmit)="onSubmit()" class="d-flex  flex-column pt-3">
        <label for="sku">SKU:</label>
        <input type="text" id="sku" [(ngModel)]="product.sku" name="sku" required />
      
        <label for="name">Product Name:</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" required />
      
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price" required />
      
        <label for="images">Product Images:</label>
        <input type="file" #fileInput multiple />
      
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
      
    <a class="btn btn-secondary mt-3" routerLink="/">Back to List</a>
  </div>
  